@font-face {
    font-family: 'Jost';
    src: url('../fonts/static/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Jost Bold';
    src: url('../fonts/static/Jost-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Jost';
}

/* body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
} */

p{
    line-height: 1.6;
}

/* HEADER START */

.header {
    font-size: 19px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.header .header_desk .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo {
    max-width: 80px;
}

.header .header_desk ul {
    padding: 0.5vw 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.header .header_desk ul li {
    padding: 10px 1.5vw;
    list-style: none;
}

.header ul li a {
    color: black;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.header ul li.active a {
    color: #0064ff;
}

.header ul li:hover a {
    color: #0064ff;
}

.button-start{
    margin: 0px 0px 0px 20px;
    background-color: #0064ff;
    border-radius: 100px;
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
    padding: 13px 35px;
    transition: 0.2s ease-in-out;
    width: max-content;
}

.button-start:hover{
    background-color: #00a7ff;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 15px 25px -7px rgba(0,0,0,0.1);
}

.button-start a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.button-start:hover a{
    color: white;
    font-weight: 700;
}

.header .header_mobile {
    display: none;
}

@media (max-width: 993px) {
    .header .header_mobile {
        display: block;
    }

    .header a.login {
        margin-right: 10px;
        color: #0064ff;
        padding: 3px 10px;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0px 0px 3px #344EFE;
        border: 1px solid #BAC3FE;
        text-decoration: none;
        display: none;
        font-weight: 700;
    }

    .header a.login.active {
        display: block;
    }

    .header .header_desk {
        display: none;
    }

    .header .header_mobile .menu_set {
        padding: 5px 0px;
        background-color:transparent;
        position: relative;
        z-index: 999;
    }

    .header .header_mobile .menu_set .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .btn_menu_mobile {
        position: relative;
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile .item_menu {
        position: relative;
        background-color: black;
        width: 30px;
        height: 4px;
        margin: 5px 0px;
        border-radius: 15px;
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.center {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.top {
        transform: translate3d(0px, 9px, 0px) rotate(45deg);
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.bottom {
        transform: translate3d(0px, -9px, 0px) rotate(-45deg);
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .menu_move {
        background-color: white;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 888;
        opacity: 0.5;
        transform: translateX(100%);
        min-height: 100vh;
        height: 100vh;
        transition: 0.8s ease-in-out;
        padding-top: 15vw;
    }

    .header .header_mobile .menu_move.login-active {
        padding: 0px 10px;
    }

    .header .header_mobile .menu_move b {
        font-size: 18px;
    }

    .header .header_mobile .menu_move.active {
        transform: translateX(0);
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

    .header .header_mobile .menu_move ul {
        padding: 10px;
        margin: 0;
    }

    .header .header_mobile .menu_move ul li .menu-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .menu_move ul li{
        list-style: none;
        margin: 10px auto 30px auto;
    }

}

/* HEADER END */

/* MAIN START */

.main{
    font-size: 19px;
}

.tab-one{
    background-image: url("../images/background-tab-one.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #f4f9ff;
    font-size: 19px;
}

.content-tab-one {
    padding: 200px 0 20px 0;
} 

.content-tab-one .container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.content-tab-one h1.title-tab{
    margin-top: -20px;
    margin-bottom: 43px;
    font-size: 4em;
    font-weight: 900;
    line-height: 1em;
    color: #1b004f;
    --global-heading-weight: 900;
    font-family: sans-serif;
} 

.content-tab-one h2.title-tab{
    margin-top: -20px;
    margin-bottom: 43px;
    font-weight: 900;
    line-height: 1em;
    color: #1b004f;
    --global-heading-weight: 900;
    font-family: sans-serif;
} 

.cut-fill svg{
    fill: white;
    margin-bottom: -2px;
}

.desc-content .advant{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.desc-content .advant li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.desc-content .advant li svg{
    color: #00dba7;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 10px;
}

.desc-content .button-start{
    margin-top: 40px;
    padding: 15px 40px;
    margin-left: 0;
}

@media (max-width: 993px) {
    .tab-one{
        text-align: center;
    }

    .content-tab-one h1.title-tab{
        font-size: 3.2em;
    }

    .desc-content .button-start{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .content-tab-one h1.title-tab{
        font-size: 2em;
    }
}

/* TAB TWO START */


.tab-two .content-tab-two h2.title-tab-two{
    margin-bottom: 40px;
    text-align: center;
    line-height: 1em;
    font-weight: 900;
    color: #1b004f;
    --global-heading-weight: 900;
    font-family: sans-serif;
    font-size: 28px;
}

.tab-two .content-tab-two .content-top{
    margin: 0 auto;
    text-align: center;
    padding: 70px 10px 10px 10px;
    max-width: 580px;
}

.tab-two .content-bototm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 90px 0;
}

.tab-two .content-bototm .item-box-content{
    width: 30%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 30px;
    border: 1px solid #e7edfc;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.tab-two .content-bototm .item-box-content .box-left{
    padding: 0 15px 0 0;
    width: 63px;
}

.tab-two .content-bototm .item-box-content .box-right{
    width: 80%;
    font-family: sans-serif;
}

.tab-two .content-bototm .item-box-content .box-right h6{
    color: #4A5568;
    font-size: 18px;
    font-family: sans-serif;
}

.tab-two .content-bototm .item-box-content .box-right h6 strong{
    font-family: sans-serif;
}

.tab-two .content-bototm .item-box-content .box-right p{
    margin: 0;
}

@media (max-width: 1025px) {
    .tab-two .content-bototm .item-box-content{
        width: 90%;
        margin: 10px auto 10px auto;
    }
}

@media (max-width: 767px) {
    .tab-two .content-bototm .item-box-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tab-two .content-bototm .item-box-content .box-left{
        margin: auto;
    }

    .tab-two .content-bototm .item-box-content .box-right{
        width: 100%;
        margin-top: 5px;
    }
}

/* TAB TWO END */

/* TAB THREE START */
.tab-three{
    background-color: #f4f9ff;
}

 .draw{
    transform: rotateX(180deg) rotateY(180deg);
}

 .draw svg {
    width: 121%;
}

 .draw * {
    fill: white;
}

.tab-three .content-tab-left .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-three .content-tab-left .container .title-tab{
    font-weight: 900;
    color: #1b004f;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
}

.tab-three .content-tab-left .container .item-detail strong{
    color: #1b004f;
    font-weight: 900;
    font-size: 40px;
    font-family: "Jost Bold";
}

.tab-three .content-tab-left .container .detail{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 1025px) {
    .tab-three .image-content{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center !important;
        margin: auto;
    }
    
    .tab-three .desc-content{
        width: 100%;
    }

    .tab-three{
        text-align: center;
    }

    .tab-three .content-tab-left .container .item-detail strong{
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .tab-three .image-content{
        width: 100%;
    }
}

.draw-bottom svg{
    fill: white;
    transform: rotateY(180deg);
    margin-bottom: -2px;
}
/* TAB THRER END */

/* TAB 4 START */
.ss-four{
    background-color: white;
    padding: 100px 0px  80px 0px ;
}

.ss-four .image-content{
    display: flex;
    justify-content: flex-end;
}
/* TAB 4 END */

/* TAB FIVE START */

.tab-five{
    background-image: url("../images/background-tab-one.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #f4f9ff;
    font-size: 19px;
}

.tab-five .content-tab-five{
    padding: 80px 0;
}

svg{
    height: 80px;
    width: 100%;
}

.tab-five .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-five .title-tab{
    font-weight: 900;
    color: #1b004f;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
}

.tab-five .image-content{
    position: relative;
}

.tab-five .image-content .mini-image{
    position: relative;
}

.tab-five .image-content .btn-play{
    position: absolute;
    border-radius: 150px;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-five .image-content .btn-play a{
    display: block;
    background-color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
}

.tab-five .image-content .btn-play a svg{
    width: 30px;
    height: 30px;
    margin-left: 2px;
}

@media (max-width: 1025px) {
    .tab-five{
        text-align: center;
    }

    .tab-five .content-tab-five{
        padding-bottom: 15px;
    }
    
    .tab-five .image-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tab-five .desc-content{
        width: 100%;
    }

    .desc-content .button-start{
        margin: 40px auto 0 auto; 
    }

}

/* TAB FIVE END */

/* TAB SIX START */
.tab-six .title-tab{
    font-weight: 900;
    color: #1b004f;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
    text-align: center;
    padding-top: 100px;
    margin:0 auto 40px auto;
}

.tab-six .main-tab p.desc{
    text-align: center;
    margin: auto;
}

.tab-six .main-tab{
    background-image: url("../images/map.png");
    background-size: auto;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}

.tab-six .list-review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.tab-six .list-review .item-review{
    width: 30%;
    position: relative;
    border:  1px solid #eeeeee ;
    border-radius: 10px;
    background-color: white;
    padding: 20px 25px;
}

.tab-six .item-review .icon-location{
    width: 40px;
    height: 40px;
    background-color: #0064ff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: 0;
}

.tab-six .item-review .icon-location svg {
    height: 1em;
    width: 1em;
    fill: white;
}

.tab-six .item-review .content-review{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.tab-six .item-review .content-review .avatar{
    max-width: 75px;
    border-radius: 100px;
    padding:10px;
}

.tab-six .item-review .content-review .avatar img{
    border-radius: 100px;
}

.tab-six .review{
    padding: 10px;
}

.tab-six .review h6{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 18px;
    color: #4A5568;
    margin: 0;
}

.tab-six .review .star svg{
    font-size: 15px;
    fill: #f0ad4e;
    width: 15px;
    height: 15px;
    line-height: normal;
}

.tab-six .review .content-pre p{
    margin: 0;
}

.tab-six .item-review.second{
    margin-top: 130px;
}

.tab-six .item-review.third{
    margin-top: 55px;
}

@media (max-width: 1025px) {
    .tab-six .list-review .item-review{
        width: 100%;
        margin: 10px auto;
    }

    .tab-six .title-tab{
        padding-top: 45px;
    }

    .tab-six .list-review{
        padding-bottom: 65px;
    }
        
    .tab-six .item-review.second{
        margin-top: 10px;
    }

    .tab-six .item-review.third{
        margin-top: 10px;
    }
}
/* TAB SIX END */

/* TAB SEVEN START */
.tab-seven{
    background: linear-gradient(180deg, #f4f9ff 0%, #ffffff 100%);
}

.tab-seven .desc-content .advant{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.tab-seven .title-tab{
    font-weight: 900;
    color: #1b004f;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
    margin:0 auto 40px auto;
}

.tab-seven .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 40px;
}

.tab-seven .image-content{
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1025px) {
    .tab-seven .title-tab, p{
        text-align: center;
    }
        
    .desc-content .button-start{
        margin: 60px auto;
    }

    .tab-seven .image-content {
        display: flex;
        justify-content: center;
    }

    .tab-seven .container{
        padding-top: 65px;
    }
}
/* TAB SEVEN END */

/* TAB EIGHT START */
.tab-eight .title-tab{
    text-align: center;
    font-weight: 900;
    color: #1b004f;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
    margin:0 auto 40px auto;
}
.tab-eight p{
    margin: auto;
    text-align: center;
}
    
.tab-eight .desc-content .button-start{
    margin: 60px auto 0 auto;
}

.tab-eight .list-price{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.tab-eight .list-price .item-price p{
    text-align: left;
}

.tab-eight .list-price .item-price{
    width: 31%;
    padding: 50px;
    border: 1px solid #E7EDFC;
    border-radius: 20px;
}

.tab-eight .list-price .item-price h6{
    font-weight: 900;
    color: #4A5568;
    font-size: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 29.5px;
    margin-left: 0px;
    line-height: 1em;
    font-family: "Jost Bold";
}

.tab-eight .list-price .item-price .price{
    font-family: "Jost Bold";
    font-style: normal; 
    margin-right: 0px;
    color: #1b004f;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 60px;
    line-height: 1em;
    font-weight: 900;
    margin-bottom: 20px;
}

.tab-eight .list-price .item-price .desc{
    margin-bottom: 40px;
}

.tab-eight .item-price hr{
    border-top-color: #eeeeeed0;
    width: 100%;
}

.tab-eight .item-price:hover{
    border: 1px solid #0064FF;
    border-radius: 20px;
    box-shadow: 20px 20px 80px 0px rgba(27, 0, 79, 0.06);
}

.tab-eight .advant span{
    font-weight: 900;
}

@media (max-width: 1025px) {
    .tab-eight .list-price .item-price{
        width: 100%;
        text-align: center ;
        margin-bottom: 30px;
    }

    .tab-eight .list-price .item-price p{
        text-align: center;
    }
}

/* TAB EIGHT END */

.tab-logo {
    padding: 100px 0;
}

.tab-logo .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: gray;
}

.tab-logo .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}

.tab-logo .swiper-wrapper{
    padding-bottom: 25px;
}

.tab-nine{
    margin: 80px auto 100px auto;
}

.tab-nine .container{
    background-color: #0064ff;
    border-radius: 20px;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-nine .title-tab{
    text-align: left;
    font-weight: 900;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    margin: 1.5em 0 0.5em;
    margin:0 auto 40px auto;
}

.tab-nine p{
    color: white;
}

.tab-nine .desc-content .advant{
    flex-direction: row;
    color: white;
}

.tab-nine .desc-content .button-start{
    background-color: white;
}

.tab-nine .desc-content .button-start a{
    color: #0064FF;
}

.tab-nine .image-content{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1025px) {
        
    .tab-nine .title-tab ,p{
        text-align: center;
    }

    .tab-nine .container{
        padding: 5vw 03vw;
        justify-content: center;
    }

    .tab-nine .image-content {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .tab-nine .desc-content{
        width: 70%;
    }

    .tab-logo{
        padding: 15px 0;
    }
}

@media (max-width: 768px) {
    .tab-nine .image-content {
        width: 90%;
    }

    .tab-nine .desc-content{
        width: 90%;
    }
}

/* MAIN END */

/* FOOTER START */
footer{
    background-color: #1b004f;
}

footer hr{
    background-color: gray;
    height: 1px;
    width: 100%;
    margin: 15px 0;
}

footer svg{
    fill: white;
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 10px;
}

footer .bottom-footer .container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .bottom-footer *{
    color: white;
}

footer .logo{
    max-width: 100px;
    margin-bottom: 20px;
}

footer .top-footer{
    padding: 65px 0;
}

footer p{
    margin: 7px 0;
    font-size: 19px;
    color: white;
}

footer .top-footer .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top-footer .container a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
}

footer .top-footer .container a:hover{
    color: #00a7ff;
}

footer .top-footer .container h2{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: "Jost Bold";
}

footer .top-footer .item-top.first{
    width: 32%;
}

footer .top-footer .item-top.second{
    width: 21%;
}

@media (max-width: 1025px) {
    footer .top-footer .item-top{
        width: 100% !important;
        margin-bottom: 25px;
    }

    footer .top-footer{
        padding-bottom: 0;
    }

    footer .list-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0 10px 0;
    }

    footer .list-icon svg{
        margin: 0 10px;
    }
    
    footer .top-footer .item-top *{
        text-align: left;
    }
}


/* BLOG PAGE START */

.blog-page{
    background-color: white;
}

.blog-page .header{
    position: unset;
}

.blog-page .banner {
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    background-color: #e7edfc;
}

.blog-page .banner h1{
    color: #1b004f;
    font-weight: 700;
    font-family: "Jost Bold";
}

.blog-page .main{
    background-color: #f4f9ff;
}

.blog-page .content-blog{
    padding: 80px 0;
}

.blog-page .list-blog{
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.5%, 31.5%)); /* Chia cột theo tỷ lệ 32% */
    gap: 0 2.75%;
}

.blog-page .list-blog .item-blog{
    /* width: 31.5%; */
    height: min-content;
    background-color: white;
    margin-bottom: 35px;
}

.blog-page .content-item .nav-link{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px 0;
}

.blog-page .content-item .nav-link a{
    text-decoration: none;
    color: #0064ff;
    font-size: 70%;
    font-weight: 900;
    font-family: "Jost Bold";
}

.blog-page .content-item .nav-link .line{
    background-color: gray;
    width: 1px;
    margin: 0px 7px;
}

.blog-page .content-item {
    padding: 25px 35px;
}

.blog-page .content-item h2.title a{
    font-weight: 900;
    font-family: sans-serif;
    color: #1b004f;
    text-decoration: none;
    font-size: 28px;
}

.blog-page .content-item .date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.blog-page .content-item .date p{
    margin: 0;
    font-size: 80%;
}

.blog-page .content-item .date .dot{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    margin: 0px 10px;
    background-color: gray;
}

.blog-page .content-item .date a{
    text-decoration: none;
    color: black;
}

.blog-page .content-item .desc{
    display: block;
  	display: -webkit-box;
  	line-height: 1.3;
  	-webkit-line-clamp: 10;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.blog-page .content-item .read-more a{
    display: flex;
    margin-top:25px;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 80%;
}

.blog-page .content-item .read-more a:hover{
    color: #0064ff;
}

.blog-page .content-item .read-more svg{
    width: 20px;
    height: 15px;
    margin-left: 10px;
}

@media (max-width: 1025px) {
        
    .blog-page .list-blog {
        grid-template-columns: repeat(auto-fill, minmax(48.5%, 48.5%)); /* Chia cột theo tỷ lệ 32% */
        gap: 0 1.5%;
    }

    .blog-page .list-blog .item-blog p{
        text-align: left;
    }
    
}

@media (max-width: 571px) {
        
    .blog-page .list-blog {
        grid-template-columns: repeat(auto-fill, minmax(90%, 90%)); /* Chia cột theo tỷ lệ 32% */
        justify-content: center;
    }

}

/* DETAIL BLOG START */

.detail-page{
    background-color: #f4f9ff;
}

.detail-page .header{
    position: unset;
}

.detail-page .desc-blog{
    margin: 0 auto;
    padding-bottom: 15px;
}

.detail-page .docs-blog{
    margin: -60px auto 60px auto;
    background-color: white;
    position: relative;
    z-index: 2;
    padding: 35px 25px;
    border-radius: 7px;
}

.detail-page .docs-blog .nav-link{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px 0;
}

.detail-page .docs-blog .nav-link a{
    text-decoration: none;
    color: #0064ff;
    font-size: 70%;
    font-weight: 900;
    font-family: "Jost Bold";
}

.detail-page .docs-blog .nav-link .line{
    background-color: gray;
    width: 1px;
    margin: 0px 7px;
}

.detail-page .docs-blog h2.title {
    font-weight: 900;
    font-family: sans-serif;
    color: #1b004f;
    text-decoration: none;
    font-size: 28px;
}

.detail-page .docs-blog .date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.detail-page .docs-blog .date p{
    margin: 0;
    font-size: 80%;
}

.detail-page .docs-blog .date .dot{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    margin: 0px 10px;
    background-color: gray;
}

.detail-page .docs-blog .date a{
    text-decoration: none;
    color: black;
}

.detail-page .content-docs-blog p{
    margin-bottom: 7px;
    text-align: left;
}

.detail-page .content-docs-blog img{
    margin: 25px auto;
}

.detail-page .pre-page{
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.detail-page .pre-page a{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    letter-spacing: .05em;
    text-decoration: none;
    color: inherit;
    font-size: 90%;
}

.detail-page .pre-page a:hover{
    color: #0064ff;
}

.detail-page .pre-page svg{
    width: 20px;
    height: 15px;
}

.detail-page .pre-page .small{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.detail-page .pre-page .item-pre{
    width: 50%;
}

.detail-page .pre-page .left{
    padding-right: 25px;
    border-right: 1px solid gainsboro;
}

.detail-page .pre-page .right{
    padding-left: 25px;
}

.detail-page .pre-page .right a{
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.detail-page .pre-page .link{
    font-weight: 500;
}

.detail-page .similar-post{
    margin: 0 auto;
    background-color: #e7edfc;
    padding: 65px 0;
}

.detail-page .similar-post .col-lg-10{
    margin: 0 auto;
}

.detail-page .similar-post h2.title-tab{
    margin-bottom: 43px;
    font-size: 28px;
    font-weight: 900;
    line-height: 1em;
    color: #1b004f;
    font-family: sans-serif;
} 

.detail-page .item-post .title-tab a{
    margin-bottom: 43px;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    line-height: 1em;
    color: #1b004f;
    font-family: sans-serif;
}

.detail-page .item-post .detail-post{
    padding: 25px;
    background-color: white;
}

.detail-page .item-post .title-tab a:hover{
    color: #0064FF;
}

.detail-page .item-post .date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.detail-page .item-post .date p{
    margin: 0;
    font-size: 80%;
}

.detail-page .item-post .date .dot{
    width: 5px;
    height: 5px;
    border-radius: 15px;
    margin: 0px 10px;
    background-color: gray;
}

.detail-page .item-post .date a{
    text-decoration: none;
    color: black;
}

.detail-page .swiper-wrapper{
    padding-bottom: 40px;
}

/* COMMENT START */
.detail-page .comment{
    padding: 65px 0;
}

.detail-page .comment .col-lg-8{
    margin: auto;
}

.detail-page .comment .title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800;
    text-decoration: none;
    line-height: 1em;
    color: #1b004f;
    font-family: sans-serif;
}

.detail-page .comment i{
    color: red;
}

.detail-page .form .item-form label{
    font-size: 80%;
    font-style: italic;
}

.detail-page .form .item-form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.detail-page .form .item-form.check-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.detail-page .comment form{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-page .comment form .w-100{
    width: 100%;
}

.detail-page .comment form .w-32{
    width: 32%;
}

.detail-page .comment input,
.detail-page .comment select,
.detail-page .comment optgroup,
.detail-page .comment textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 1.6;
    color: #393841;
    padding: 3px 7px;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 3px;
    width: 100%;
}

.detail-page .comment textarea {
    width: 100%;
}

.detail-page .comment button {
    background-color: transparent;
    border: none;
    outline: none;
}

.detail-page .comment button .button-start {
    margin: 0;
    font-weight: 700;
    color: white;
}

@media (max-width: 1025px) {
        
    .detail-page .comment form .w-32{
        width: 100%;
    }
}